.box {
    color: white;
    padding: 20px;
    background-color: #3A3A3A;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.container {
    display: flex;
    flex: 1;
}

.pageBox {
    display: flex;
    flex-direction: column;
    flex: 1;
}